body {
    font-family: Arial, sans-serif;
    background-color: #e1dede;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #ccb7b7;
    font-size: 30px;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px
}

input[type="number"] {
    width: 50px;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    height: 20px;
}

input[type="text"] {
    width: 30%;
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.options {
    font-size: 500px;
    margin: 15px 0;
    text-align: left;
}

.options label {
    display: block;
    margin: 5px 0;
}

.password{
    text-align: center;
    font-size: 35px;
    display: flexbox;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 5px;
    border: 0;
    background-color: #331212;
    color: #e8c1c1;
    height: 35px;
}

button:hover{
    background-color: #783434;
}

button:active{
    background-color: #b24f4f;
}